@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
    font-family: Georgia, serif;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.preload{
    background-color: black;
}

header{
    vertical-align: middle;
    background-color: black;
    text-align: center;
    padding: 20px;
}
#header{
	font-family: Italianno;
    color:white;
    font-size: 2.5vw;
}
nav {
    text-align: center;
    font-size: clamp( 10px, 2vw, 75px);
    background: lightcoral;
}
.nav-link{
    border-radius: 1vw;
    color: white !important;
}
#Selected_Page{
    border-radius: 1vw;
    color: lightcoral;
    background-color: black;
}
#hovered{
    border-radius: 1vw;
    background-color: white;
    color: black !important;
}


section{
    border: 10px;
    margin: 30px;
    min-height: 70vh;
    background-color: #45293f;
}
.page-intro{
    padding-top: 1vw;
    margin: 2vw;
    font-size: 2vw;
    color: white;
}
article{
    margin-left: 1vw;
    font-size: 1.5vw;
    color: white;
}
.article-intro{
    margin-top: 2vw;
    margin-left: 1vw;
    font-size: 2vw;
    color: white;
}


#notes_bar{
    background: salmon;
    text-align: center;
    font-size: clamp( 10px, 2vw, 75px);
    margin: 0.1px;
    padding: 1vw;
}
#sessions-intro{
    font-size: 3vw;
}
#session-notes{
    margin: 1vw;
    font-size: 1.5vw;
    color: white;
    width: 98%;
    text-align: justify;
}
.intralink{
    font-size: 2vw;
    border-radius: 1vw;
    color: white !important;
    text-decoration: none !important;
}


iframe{
    padding-right: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    overflow: hidden;
    border: none;
}


.place{
    max-height: 18vw;
    float: left;
    margin: 1vw;
    border-radius: 1vw;
}
.place_2{
    max-height: 18vw;
    float: right;
    margin: 1vw;
    border-radius: 1vw;
}
#place{
    margin-left: 0.5vw;
}
.characters{
    max-height: 19vw;
    float: right;
    margin: 1vw;
    border-radius: 1vw;
}


